<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid container-sm">
    <a class="navbar-brand me-3" href="/">Pet's Care</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/services/all-pets">Pets</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/services/add">Add Service</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/pets/adding-more">Repeat Order</a>
        </li>
      </ul>
    </div>
    <a href="/users/logout" class="btn btn-danger">Log Out</a>
  </div>
</nav>
<section class="container-sm mt-5">
